html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.flex-1 {
    flex: 1;
}

header,
.main {
    background-color: #FFFFFF;
}

header {
    border-bottom: 0.2rem solid #E1F9F4;
}

.head {
    height: 10vh;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.items-center {
    justify-content: center;
    align-items: center;
}

.mx-5 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.px-5 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.my-5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.space-between {
    justify-content: space-between;
}


.lg-font {
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #B4B4C6;
    opacity: 0.8;
}


#search,
#search:focus {
    border: none;
    outline: none;
    padding: 0;
    padding-left: 5px;
    height: 80%;
    font-size: small;
    opacity: 0.8;
    margin-bottom: 0;
        font-family: 'Source Sans Pro', sans-serif;
}

#search::placeholder {
    font-size: larger;
    color: #B4B4C6;
    opacity: 0.9;
        font-family: 'Source Sans Pro', sans-serif;
}

.search-input {
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 0px 15px 15px 10px rgb(246, 241, 241);
    padding: 2px 1.2rem;
}

.add-btn {
    border: 1px solid white;
    background-color: #6AB4F8;
    color: white;
    letter-spacing: 1px;
    font-size: medium;
    font-weight: 600;
    padding: 1rem 1rem;
    border-radius: 2rem;
    box-shadow: 0px 15px 15px 10px rgb(246, 241, 241);
}

.add-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    filter: saturate(2.5);
}

.mx-10 {
    padding: 2.5rem;
    padding-left: 0.5rem;
}

.property-table th {
    color: #284E91;
}

td {
    text-align: left;
    color: #1F1F1F;
    font-weight: 600;
    opacity: 0.7;

}

.my-10 {
    margin-bottom: 2.5rem;
    margin-top: 2.5;
}

.scrollable::-webkit-scrollbar {
    color: #6AB4F8;
}

.sold-un {
    color: #416899;
    background-color: #F5FAF5;
}

.username-display {
    font-size: medium;
    font-weight: 600;
    opacity: 0.8;
    color: #C3C3C3;

}

.username-display:hover {
    cursor: pointer;
    filter: saturate(5.5);
    scale: 1.1;
    color: #416899;
    transition: all ease-in-out 0.5s;
}

.logout-btn {
    background-color: white;
    border: none;
    font-weight: 600;
    opacity: 0.7;
    color: lightcoral;
    padding-right: 1rem;
    text-align: right;
}

.logout-btn:hover {
    cursor: pointer;
    filter: saturate(8.5);
    scale: 1.05;
    transition: all ease-in-out 0.5s;
}

.username {
    padding: 0.2rem 0.1rem;
    padding-top: 0.4rem;

}

.user-icons {
    color: #A6A6A6;
}

.user-icons:hover {
    color: #416899;
    transition: all ease-in-out 0.5s;
}


.cursor-pointer:hover {
    cursor: pointer;
}

.images {
    color: #C3C3C3;
}

.images:hover {
    color: #416899;
    transition: all ease-in-out 0.5s;
}

.eye:hover {
    color: aquamarine;
    transition: all ease-in-out 0.5s;
}

.edit:hover {
    color: orange;
    transition: all ease-in-out 0.5s;
}

.eye,
.edit {
    color: #DFDFDF;
}