.sidebarconatiner {
    background-color: #E1F9F4;
    width: 317px;
    height: 100vh;
    margin: 0;

}


.home {
    color: #2289ff;
}

.sideoption .property {
    color: #2289ff;
}


.sidesubcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.property {
    color: #2289ff;
    font-size: 1.08em;
    letter-spacing: 0.5px;
    margin-left: 1rem;
}


.navvalue {
    color: #AAAAAA;
    letter-spacing: 0.8px;
    font-size: 1.1em;
    margin-left: 1rem;
}

.navvalue:hover {
    color: #2289ff;
}
.sideoption:hover {
    color: #2289ff;
    cursor: pointer;
}

.down {
    color: #AAAAAA;
}

.down:hover {
    color: #2289ff;
}

.sideoption {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 25px;
}

.logo-option {
    padding-top: 2.5rem;
    padding-left: 5rem;
}
.index-logo:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition:all 0.3s ease-in
}